name: Tests

on:
  pull_request:
    branches: [master]
    paths:
      - "committracker/**"
      - "tests/**"
      - "pyproject.toml"
      - ".github/workflows/test.yml"
  push:
    branches: [master]
    paths:
      - "committracker/**"
      - "tests/**"
      - "pyproject.toml"
      - ".github/workflows/test.yml"
    tags: "*"

jobs:
  run-tests:
    name: Python ${{ matrix.python-version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.10]
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install pip --upgrade
          pip install .[dev]
      - name: Run tests
        run: pytest
